@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Roboto+Condensed:wght@300&display=swap');

* {
    outline: 1px solid #f00 !important;
}

body {
    font-family: karla;
}

.title-text {
    display: inline-block;
    margin-top: 75px;
    font-family: Roboto Condensed, Karla, sans-serif;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 350%;
}

header {
    background-color: #005C3F;
    height: 150px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

/* Logo styling */
.logo {
    float: left;
    margin: 40px;
    border: 1px solid slategray;
    border-radius: 50%;

}

.page-logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.tagline {
    font-size: xx-small;
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;

}

/* Menu styling */
#menu-block {
    float: right;
    margin-top: 75px;
}

#menu-block li {
    display: inline-block;
    list-style-type: none;
    margin-right: 40px;
    text-decoration: none;
}

.menu-text a {
    color: #FFC745;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

#menu a:hover {
    border-bottom: 1px solid whitesmoke
}

/*Section styles home page */
#about-us {
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    max-width: 400px;
    float: right;
}

.home-pic {
    margin-left: 250px;
    margin-top: 200px;
    width: 250px;
    height: 250px;
    display: inline-block;

}

/* About page sections */
#about {
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
}
/*About page styling */
/* Food page styling */
/* Newsletter styling page */
#newsletter-title {
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
}
/* Footer styling*/
footer {
    height: 125px;
    background-color: #005C3F;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    color: #FFC745;
}