
header {
    background-color: #005C3F;
    height: 125px;
}
/* Logo styling */
.logo-text {
    color: #FFC745;
    font-size: 280%;
    text-decoration: none;
    float: left;
    margin: 40px;
}
/* Menu styling */
#menu-block {
 float: right;
}
#menu-block li {
    display: inline-block;
    list-style-type: none;
    margin-right: 40px;
}
/* Footer styling*/
footer {
    height: 125px;
    background-color: #005C3F;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
.social-media {
    text-align: center;
}
.social-media li {
    display: inline;
}
.social-media i {
    color: #FFC745;
}