@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Roboto+Condensed:wght@300&display=swap');

/* * {
    outline: 1px solid #f00 !important;
} */

body {
    font-family: karla;
    margin: 0;

}

.title-text {
    display: inline-block;
    margin-top: 40px;
    font-family: Roboto Condensed, Karla, sans-serif;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 450%;
}

header {
    background-color: #005C3F;
    height: 175px;
    position: fixed absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    

}

/* Logo styling */
.logo {
    float: left;
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid slategray;
    border-radius: 50%;

}

.page-logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

/* Nav Menu styling */
#menu-block {
    float: right;
    margin-top: 75px;
}

#menu-block li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
    text-decoration: none;
    position: relative;
}

.menu-text a {
    color: #FFC745;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

#menu a:hover {
    border-bottom: 1px solid #FFC745;
}

/* Intro sections */
.page-intro {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}


/* Home page section styles */
#home-page-hero {
    height: 1200px;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.homepage-intro {
    position: absolute;
    top: 10%;
    color:#000000;
    font-size: 40px;
    background: #fff;
    width: 90%;
    left: 5%;
    padding: 0;
}
.homepage-intro p {
    font-size: 30px;
}

/* About page sections */
#aboutpage {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;    

}

.about-page-text {
    position: absolute;
    top: 5%;   
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    width: 75%;
    left: 12.5%;
    text-align: center;

}

/* Think page styling */

/*Think flexbox*/


.think-container {
    display: flex;
    padding: 10px;
    justify-content: center;

}

.think-article  {
    max-width: 200px;
    height: 100%;
    margin: 10px auto;
    margin-top: 10px;
}



.think-anchor {
    margin-bottom: 25px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    
}
/* think-a1 image style*/
.think-image {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    border: 1px solid slategrey;
}

.think-a1 {
    min-height: 200px;
    display: flex;

}
.think-a2 {
    min-height: 200px;
    display: flex;
}

.think-a3 {
    min-height: 200px;
    display: flex;
}

.think-a4 {
    min-height: 200px;
    display: flex;
}

.think-a5 {
    min-height: 200px;
    display: flex;
}

/* Think Video */
.video {
    display: flex;
    padding-top: 50px;
    padding-bottom: 150px;
}

.danbarbervid {
    margin: auto;
}


/* Food page styling */

/* food flexbox */
.food-container {
    display: flex;
    padding: 10px;
    justify-content: center;

}

.food-article {
    width: 200px;
    max-height: 200px;
    margin: 10px;
    border: 3px solid slategrey;

}
.food-anchor {
    margin-bottom: 25px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
/* food image style*/
.food-image {
    width: 100%;
    max-height: 200px;
    margin: auto;
}

.food-a1 {
    min-height: 200px;
    display: flex;

}

.food-a2 {
    min-height: 200px;
    display: flex;
}

.food-a3 {
    min-height: 200px;
    display: flex;
}

.peggychanvid {
    margin: auto;
}
/* Article styling*/
article {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
    
}
article > h1 {
    font-size: 40px;
}

article > h2 {
    font-size: 35px;
}
article > p {
    font-size: 30px;
}
article > ul {
    font-size: 30px;
}
table {
    font-size: 30px;
}

/* Newsletter styling page */
#newsletter-title {
    /* text-align: center;
    margin-left: 200px;
    margin-right: 200px; */
    margin-top: 20px;
}

/* form sign up */
.contact {
    display: flex;

}

.contact-us {
    margin: auto;
    color: #fff;
    background-color: rgb(0, 92, 63);
    max-width: 400px;
    left: 10%;
    padding: 30px;
}


.sign-up-form {
    display: flex;
    padding-bottom: 200px;
}

.sign-up {
    margin: auto;
    color: #fff;
    background-color: rgb(0, 92, 63);
    max-width: 400px;
    left: 10%;
    padding: 30px;
}

.sign-up-form>h4 {
    color: #fff;
    margin-bottom: 20px;
}

.text-box {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fff;
    border-radius: 2px;
}

.text-box:hover {
    background-color: #fafafa;
    color: #000000;
}

.signup-button,
.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #FFC745;
    color: black;
    display: block;
    margin: auto;
}

.signup-button:hover,
.send-button:hover {
    background-color: #fafafa;
    color: #FFC745;
}
/* Contact page */
.contact {
    display: flex;
    padding-bottom: 100px;
}

.contact-us {
    margin: auto;
    color: #fff;
    background-color: rgb(0, 92, 63);
    max-width: 400px;
    left: 10%;
    padding: 30px;
}

.contact {
    display: flex;
   
}
.map-title {
    margin-top: 20px;
    text-align: center;
}

.map-title h2 {
    font-size: xx-large;
}

.map {
 text-align: center;
 padding-bottom: 200px;
}

/* Footer styling*/
footer {
    height: 80px;
    background-color: #005C3F;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0px;

}

.tagline {
    font-size: xx-small;
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
}

.tagline-text {
    margin: auto;
}

.socials {
    display: flex;
}

.social-media {
    text-align: center;
    margin: auto;
    padding: 0;
}

.social-media li {
    display: inline;
    margin: auto;

}

.social-media i {
    color: #FFC745;

}

.copyright {
    color: #fff;
    text-align: center;
    margin: 0;
}

/* media quries*/
/* for large to medium screens/tablets from 1200px down*/
@media screen and (max-width: 1200px) {
    .homepage-intro .page-intro {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    .title-text {
        margin-bottom: 0;
    }

    .homepage-intro>h2 {
        margin: 0;
    }

    .menu-text {
        padding: 0;
    }

    #menu-block>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;


    }

    #menu-block {

        margin-top: 0;

    }

    #menu-block li {
        display: inline-block;
        list-style-type: none;
        margin-right: 30px;
        text-decoration: none;
        position: relative;
    }

    header {
        height: 200px;
    }

    .think-container {
        margin: 0 auto;
        display: block;
        column-count: 3;
        justify-content: center;
        
    }

       .think-image {
        width: 100%;
        height: 100%;
        margin: 20 auto;
    }

}

/* for medium screens from 950px width down*/

@media screen and (max-width:950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;

    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20 px;
    }

    #photos {
        column-count: 3;
    }
}

/* for small screen sizes less than 800px */
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}